<%- include('../partials/header.ejs') %>
    <h1>List of Trackers </h1>
    <table class="table" id="tracker-index">
        <thead>
            <th scope="col">Pushups</th>
            <th scope="col">Pullups</th>
            <th scope="col">Situps</th>
            <th scope="col">Jumping Jacks</th>
        </thead>
        <tbody>
           
            <%  %>
        </tbody>
    </table>
    <div id="add-fitnessTracker">
    </div>
<%- include('../partials/footer.ejs') %>